**Load the Dataset**

In [1]:
URL = "https://raw.githubusercontent.com/omairaasim/machine_learning/master/project_15_decision_tree_classifier/iphone_purchase_records.csv"

In [3]:
import pandas as pd
df = pd.read_csv(URL)

In [4]:
df.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

In [12]:
X = df.iloc[:,:-1]
y = df['Purchase Iphone']

**Convert Gender to Number**

In [17]:
from  sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
X.Gender = encoder.fit(X.Gender)

In [18]:
X

             Gender  Age  Salary
0    LabelEncoder()   19   19000
1    LabelEncoder()   35   20000
2    LabelEncoder()   26   43000
3    LabelEncoder()   27   57000
4    LabelEncoder()   19   76000
..              ...  ...     ...
395  LabelEncoder()   46   41000
396  LabelEncoder()   51   23000
397  LabelEncoder()   50   20000
398  LabelEncoder()   36   33000
399  LabelEncoder()   49   36000

[400 rows x 3 columns]

In [24]:
labelEncoder_gender =  LabelEncoder()
X.iloc[:,0] = labelEncoder_gender.fit_transform(X.iloc[:,0])

     Gender  Age  Salary
0         0   19   19000
1         0   35   20000
2         0   26   43000
3         0   27   57000
4         0   19   76000
..      ...  ...     ...
395       0   46   41000
396       0   51   23000
397       0   50   20000
398       0   36   33000
399       0   49   36000

[400 rows x 3 columns]

**Split data into training and test set**

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [28]:
from sklearn.tree import DecisionTreeClassifier

In [33]:
model = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
model.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

**make prediction**

In [35]:
y_preds = model.predict(X_test)
y_preds

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [36]:
from sklearn.metrics import accuracy_score

In [38]:
from sklearn import metrics
cm = metrics.confusion_matrix(y_test, y_preds) 
print(cm)
accuracy = metrics.accuracy_score(y_test, y_preds) 
print("Accuracy score:",accuracy)
precision = metrics.precision_score(y_test, y_preds) 
print("Precision score:",precision)
recall = metrics.recall_score(y_test, y_preds) 
print("Recall score:",recall)

[[62  6]
 [ 3 29]]
Accuracy score: 0.91
Precision score: 0.8285714285714286
Recall score: 0.90625